header#header {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  height: 145px;
}
header#header > .logo {
  height: 100%;
  padding: 20px 0;
}
header#header > .logo img {
  height: 100%;
}
header#header > nav {
  display: flex;
  height: 100%;
}
header#header > nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  text-align: center;
  color: #333;
  font-weight: 900;
}
header#header > nav > a:hover {
  border-bottom: 3px #307EBA solid;
  color: #307EBA;
}
